mainbody {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* background-color: #658965; */
    flex-direction: column;
  }
  .drop10 {
    height: 26vh;
    width: 100vw;
  }
  header {
    border: 1px blue solid;
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: #EAE9E7;
    position: fixed;
    border-bottom: #213921 3px solid;
    padding-right: 20px;
    z-index: 10;
    
    
  }
  .headerleft {
    /* border: 1px blue solid; */
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    font-family: kaushan script, sans-serif, roboto;
    color: #812122;
    padding-left: 20px;
    padding-right: 10px;
  }
  .left {
    display: flex;
    flex-direction: row;
  }

  .headercenter {
    /* border: 1px purple solid; */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
    font-family: roboto, sans-serif;
    color: #812122;
    font-weight: bold;
    
  }
  .reathimage{
      /* border: 1px cyan solid; */
      height: 100%;
      width: 40px;
      padding-left: 163px;
  }
  .candycane {
    border: black 2px solid;
    height: 100%;
    width: 2%;
    background-image: linear-gradient(78deg, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2);
    /* box-shadow: 5px 10px 18px gray; */
    /* box-shadow: 18px 10px 15px black; */
    /* position: relative; */
    z-index: 1;
    /*-----------------------------------------------------------------------*/
  }
  lowerbody {
    /* border: 2px greenyellow solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
  .middlelowerbox {
    /* border: 2px yellow solid; */
    /* background-color: #1D4431; */
    width: 60vw;
    display: flex;
    height: 100%;
  }
  text1 {
    border-bottom: black 1px solid;
    height: 1vh;
  }
  .kidbox {
    border: 1px black solid;
    height: 280px;
    width: 410px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee1014;
    box-shadow: 5px 5px 18px gray;
    margin: 15px;
    /* transition: all 2s ease;
    transform-style: preserve-3d;
    position: relative; */

  }
  .cardflip{
    height: 300px;
    width: 300px;
    /* margin: 5px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  /* .kidbox:hover{ */
    /* transform: rotateY(180deg); */
  /* } */
  
  /* .container{
    perspective: 700
  } */
  /* .backofcard, .kidboxborder{ */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* backface-visibility: hidden; */
  /* } */
  .backofcard{
    background-color: #ee1014;
    height: 280px;
    width: 410px;
    /* transform: rotateY(180deg) */
  }
  .kidboxborder {
    border: 5px green dotted;
    height: 90%;
    width: 90%;
    display: flex;
    background-color: white;
    display: flex;
    margin: 3px;
  }
  .kidboxlefthalf {
    /* border: 1px black solid; */
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .kidboxpicture {
    /* border: 1px black solid; */
    height: 60%;
    width: 100%;
    /* background-image: url('../images/flames.jpg'); */
    background-position: center
  }
  .kidboxpicture1 {
    /* border: 1px black solid; */
    height: 60%;
    width: 100%;
    /* background-image: url('../images/clouds.jpg') */
  }
  .kidboxrightinfo {
    /* border: 2px goldenrod solid; */
    border-left: 2px goldenrod solid;
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
  }
  .giftready {
    /* border: 1px black solid; */
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .check {
    height: 50%;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .check img {
    margin: 5px;
  }
  .kidboxlowerhalf {
    /* border: 2px goldenrod solid; */
    /* border-top: 2px goldenrod solid; */
    height: 40%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
  }
  .moreinfobutton{
    /* border: 2px solid purple; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
  }
  .moreinfobutton button{
    height: 4vh;
    width: 6vw;
    color: black;
    background-color: white;
    /* border-style: none; */
    border-radius: 15px;
    /* z-index: 5; */
    /* position: relative; */
    border: 5px green thick;
    margin: 5px;
  }
  
  .kidname {
    font-family: kaushan script, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  .rightlowerbox {
    /* border: 2px solid purple; */
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: kaushan script, sans-serif;
    /* position: fixed; */
    /* background-color: black */
  }
  .leftlowerbox {
    /* border: 2px solid purple; */
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: kaushan script, sans-serif;
    /* position: fixed; */
    /* background-color: black */
  }
  .loweruperleft {
    /* border: 2px solid purple; */
    height: 50%;
    width: 100%;
    display: flex;
    color: #812122;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: column;
    font-size: 3vh;
    padding-top: 25px;
    /* justify-content: flex-end; */
  }
  .lowerlowerleft {
    /* border: 2px solid purple; */
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* flex-direction: column; */
  }
  
  .stripecircle {
    border: 2px solid black;
    /* border-right: none; */
    border-top: none;
    height: 30vh;
    width: 13vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: linear-gradient(70deg, #C7342A,#C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2);
    margin: 0 -97px 0 0;
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .blankwhitebox {
    /* border: 1px solid black; */
    height: 26vh;
    width: 7vw;
    /* background: black; */
    background-color: #efe5d5;
    position: relative;
    z-index: 2;
    margin: 0 -25px 0 0;
  }
  .fontwhitebox {
    border: 2px black solid;
    border-top: none;
    height: 89%;
    width: 75%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
    
  }
  .rightlowerbox select {
    width: 15vw;
  }
  .uperlowerrightbox {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 50%;
    width: 100%;
  }
  .lowermiddleleft {
    /* border: purple solid 1px; */
    /* height: 100%; */
    width: 50%;
    background-color: #efe5d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
  }
  
  .lowermiddleright {
    /* border: green solid 2px; */
    max-height: 100%;
    width: 50%;
    background-color: #efe5d5;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
  }
 
  text1 {
    font-family: kaushan script, sans-serif;
    font-size: 50px;
  }
  .push50 {
    height: 50%;
  }
  .lowerlowerrightbox {
    /* border: black 1px solid; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .stripecircle1 {
    border: 2px solid black;
    /* border-right: none; */
    border-top: none;
    /* border-left: none; */
    height: 30vh;
    width: 13vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: linear-gradient(78deg, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A, #DDDCE2, #DDDCE2, #C7342A,#DDDCE2);
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 -10.2%;
  }
  .fontwhitebox1 {
    border: 2px black solid;
    border-top: none;
    height: 26vh;
    width: 75%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
  }
  .blankwhitebox1 {
    /* border: 1px solid black; */
    height: 26vh;
    width: 7vw;
    background: #EFE5D5;
    /* background-color: gray; */
    position: fixed;
    z-index: 5;
    margin: 0 0 0 -27px;
  }
  .mainbody {
    height: 100vh;
    width: 100vw;
    display: flex;
    /* background-color: #658965; */
    flex-direction: column;
  }
  .lowerbody {
    border: 2px greenyellow solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 68px;
  }
  .text1 {
    font-family: kaushan script, sans-serif;
    font-size: 50px;
  }