mainbody{
    height: 100vh;
    width: 100vw;
    display: flex;
    /* background-color: #658965; */
    flex-direction: column;

}
.drop10{
    height: 11.2vh;
    width: 100vw;
}

header{
    /* border: 1px black solid; */
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: #EAE9E7;
    position: fixed;
    border-bottom: #213921 3px solid;
    padding-right: 20px;
    z-index: 10;
    /* background-image: linear-gradient(15deg,green, #C7342A, #AFA3A5,#DDDCE2, #DDDCE2,#AFA3A5, #C7342A,green); */
    /* background-image: linear-gradient(97deg, #658965, #1D4431); */
    /* box-shadow: 5px 10px 18px #CFCDDA; */

    
    /* box-shadow: 0 1px 3px 0 rgba(0,0,0,2), 0 3px 27px 0 rgba(0,0,0,2) */
    /* rgba(2, 160, 2, 0.945) */

}

headerleft{
    /* border: 1px blue solid; */
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    font-family: kaushan script, sans-serif, roboto;
    color: #812122;
    padding-left: 20px;
    padding-right: 10px;
}

.left{
    display: flex;
    flex-direction: row;
}
headerright{
    /* border: 1px red solid; */
    /* height: 100%;
    width: 25%;
    display: flex; */
}
headercenter{
    /* border: 1px green solid; */
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-family: roboto, sans-serif;
    color: #812122;
    font-weight: bold;
}
.candycane{
    border: black 2px solid;
    height: 100vh;
    width: 1.5vw;
    background-image: linear-gradient(78deg,#C7342A,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2,#C7342A,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2);
    /* box-shadow: 5px 10px 18px gray; */
    /* box-shadow: 18px 10px 15px black; */
    position: unset;
    z-index: 1;
/*-----------------------------------------------------------------------*/
}
lowerbody{
    /* border: 2px greenyellow solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.parallax {
    /* The image used */
    background-image: url("../images/cookies.jpg");

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middlelowerbox{
/* border: 2px yellow solid; */
 /* background-color: #1D4431; */
 width: 60vw;
 display: flex;
 height: 100vh;
 /* position: fixed; */
 /* flex-direction: column; */
 /* justify-content: flex-start; */
 
}

.kidbox{
    border: 1px black solid;
    height: 30vh;
    width: 27vw;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee1014;
    box-shadow: 5px 5px 18px gray;


}
.kidboxborder{
    border: 5px green dotted;
    height: 28vh;
    width: 25vw;
    display: flex;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.kidboxuperhalf{
    /* border: 1px black solid; */
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.kidboxpicture{
/* border: 1px black solid; */
 height: 100%;
 width: 70%;

}
.kidboxuperinfo{
    border-left: 2px goldenrod solid;
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
}
.giftready{
    /* border: 1px black solid; */
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.check{
    height: 50%;
    width: 100%;
    margin-bottom: 5px;
}
.kidboxlowerhalf{
    border-top: 2px goldenrod solid;
    height: 35%;
    widows: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.kidname{
    font-family: kaushan script, sans-serif;
    font-size: 25px;

}
.rightlowerbox{
    /* border: 2px solid purple; */
    height: 100vh;
    width: 20vw; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: kaushan script, sans-serif;
    /* position: fixed; */

}
.leftlowerbox{
    /* border: 2px solid teal; */
    height: 100vh;
    width: 20vw;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin: 0px -32px 0 0;
    /* z-index: 1; */

}
.stripecircle{
    border: 2px solid black;
    /* border-right: none; */
    border-bottom: none;
    height: 30vh;
    width: 13vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-image: linear-gradient(68deg,#C7342A,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2,#C7342A,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2);
    margin: 0 0 10px 0;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.blankwhitebox{
    /* border: 1px solid black; */
    height: 15vh;
    width: 5vw;
    background: #EFE5D5;
    position: fixed;
    z-index: 2;
    margin: 0 -20px 0 0;
}
.fontwhitebox{
    border: 2px black solid;
    border-bottom: none;
    height: 26vh;
    width: 76.5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: white;
    /* background-color: #cfb081; */
}
/* .innercircle{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border: 1px solid black;
    height: 30vh;
    width: 7vw;
    z-index: 2;
    background-color: white;
    margin: 60px 0 0 0 ;
} */
.rightlowerbox select{
    width: 15vw;
}
.uperlowerrightbox{
    /* border: 1px black solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 50%;
    width: 100%;
}
.lowermiddleleft{
    /* border: purple solid 1px; */
    height: 100%;
    width: 50%;
    /* border-right: #213921 solid 2px; */
    background-color: #efe5d5;
}
.lowermiddleright{
    /* border: green solid 2px; */
    height: 100%;
    width: 50%;
    background-color: #efe5d5;

}
text1{
    font-family: kaushan script, sans-serif;
    font-size: 50px;
    /* position: fixed; */
    
}
.push50{
    height: 50%;

}
.lowerlowerrightbox{
    /* border: black 1px solid; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

}
.stripecircle1{
    border: 2px solid black;
    /* border-right: none; */
    border-top: none;
    /* border-left: none; */
    height: 30vh;
    width: 13vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: linear-gradient(78deg,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2,#C7342A,#DDDCE2,#DDDCE2,#C7342A, #DDDCE2,#DDDCE2,#C7342A);
    margin: 0 0 10px 0;
    z-index: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 -8.65%;
}
.fontwhitebox1{
    border: 2px black solid;
    border-top: none;
    height: 26vh;
    width: 75.4%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;
}
.blankwhitebox1{
  /* border: 1px solid black; */
  height: 26vh;
  width: 5vw;
  background: #EFE5D5;
  position: fixed;
  z-index: 5;
  margin: 0 0 0 -34px;
}