mainapp{
    display: flex;
    flex-direction: column;
    background-color: maroon;
}
.body1{
    /* background-image: url(../images/socks.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;
    /* background-color: #EFE5D5; */
    height: 70vh;
    width: 100vw;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}
.bodyleft{
    width: 20%;
}
.bodyright{
    /* border: 1px purple solid; */
    width: 25%;
    display: flex;
    flex-direction: column;
}
.bodycenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxlid{
    border: 10px green solid;
    width: 53vw;
    height: 10vh;
    background-color: #EFE5D5;
    box-shadow: 5px 5px 18px black;
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;

    
}
.inputbigbox{
    border: 10px green solid;
    display: flex;
    height: 50vh;
    width: 50vw;
    border-top: none;
    background-color: #EFE5D5;
    box-shadow: 5px 5px 18px black;
    margin: 0 0 0px 0

    
}
.inputboxleft{
    border-right: 2px green solid;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: none;
}
/* .inputboxcenter{
    border: 1px black solid;
    height: 100%;
    width: 33%;
} */
.inputboxright{
    /* border: 1px blue solid; */
    
    height: 100%;
    width: 77%;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputboxright input{
    text-align: center;
    height: 10%;
    width: 60%;
    border-style: none;
    background: transparent;
    font-family: kaushan script, sans-serif, roboto;
    font-size: 20px;
}
.statezipcountry{
    display: flex;
}
.logoutAdd{
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-around;
}
.logoutAdd button{
    height: 40px;
    border-radius: 10px;
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    text-shadow: #21201E 0 10px 10px;
    font-family: kaushan script, sans-serif, roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 18px gray;
}
.boxleftup{
    /* border: 1px black solid; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 60px; */
}
.kidpic{
    border: 1px red solid;
    height: 100%;
    width: 100%;
    margin: 0 0 15px 0
}
.imageuploader{
    padding: 0;
}
.boxleftdown{
    /* border: 1px purple solid; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.inputboxright select{
    height: 7%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    background-color: transparent;
    font-family: kaushan script, sans-serif, roboto;
    font-size: 20px;
    border-style: none;
    color: red;
    padding-left: 10%;
 

}
.inputboxright span{
    font-family: kaushan script, sans-serif, roboto;
    font-size: 20px;
    color: #757575
   
}
.inputboxright div{
    /* border: 5px black solid; */
    width: 100%
}
.bodyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middlebody{
    display: flex;
    /* border: 1px purple solid; */
    height: 10vh;
    background-color: #800000;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}
.middlebody1{
    /* border: 1px blue solid; */
    height: 100%;
    width: 70%;
    border-radius: 50px;;
    background-image: url('../images/deers.jpg');
   margin: 0%
    
}
.body11{
    /* border: 2px solid purple; */
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: center;
    background-color: #800000;
}
.body2{
    border: black 1px solid;
    height: 20vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    background-image: url(../images/bluepaper.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;    
    border-top-right-radius: 15px;                 
    border-top-left-radius: 15px;    
    box-shadow: 8px 5px 18px black;             
}

.top{
    /* border: 1px black solid; */
    display: flex;
    height: 40%;
    width: 100%
}
.topleft{
    border-right: 1px black solid;
    width: 10%;
    
}
.topmiddle{
    border-top: 1px black solid;
    width: 3%;
    background-color: goldenrod;
}
.topright{
    border-left: 1px black solid;
    width: 89%;
    border-top-right-radius: 10px 
}
.middle{
    /* border: 1px yellow solid; */
    display: flex;
    height: 20%;
}
/* .middleleft{
    border: 1px purple solid;

} */
.middlemiddle{
    border: 2px black solid;
    width: 100%;
    background-color: goldenrod;
    display: flex;
    justify-content: space-around;
    
}
.bottom{
    /* border: 1px blue solid; */
    display: flex;
    height: 40%;
}
.bottomleft{
    border-right: 1px black solid;
    width: 10%;
    /* background-image: url(../images/bluepaper.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-attachment: scroll; */
    /* box-sizing: border-box; */

}
.bottommiddle{
    border-bottom: 1px black solid;
    width: 3%;
    background-color: goldenrod;

}
.bottomright{
    border-left: 1px black solid;
    width: 89%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-image: url(../images/bluepaper.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-attachment: scroll; */
    /* box-sizing: border-box; */

}
/*-------------------------------------------------------------*/
   
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-radius: 60px;
  border-right: 60px solid green;
}
.arrow-right1{
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-radius: 60px;
    border-right: 60px solid #21201E;
    padding-left: 10px;
    position: fixed;
    
}
.arrow-left {
  width: 0; 
  height: 0vh; 
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-radius: 70px;
  border-left: 70px solid green;
  z-index: 1;
  padding-left: 10px;
  margin: 0 0 5px 25px
  

  /* padding-right: 100px */
}
.arrow-left1 {
    width: 0; 
    position: fixed;
    height: 0; 
    border-top: 65px solid transparent;
    border-bottom: 65px solid transparent;
    border-radius: 65px;
    border-left: 65px solid #21201E;
    /* padding-top: 12px; */
    position: fixed;
    margin: 5px 0 0 19px ;
    z-index: 2;
    /* box-shadow: 5px black; */
  
}
.endofwrapper{
    display: flex;
    width: 5vw;
    
}
.bottomright button{
    font-family: kaushan script, sans-serif, roboto;
    font-size: 30px;
    border-radius: 30px;
    height: 75%;
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;
    color: white;
    box-shadow: 5px 5px 18px black;
    
}





