bigbox{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: black; */
    /* height: 100vh; */
    /* width: 100vw; */
}
.everything{
    background-color:white;
    height: 100vh;
    width: 100vw;
    color: white;
    /* background-image: linear-gradient(15deg,green, #C7342A, #AFA3A5,#DDDCE2, #DDDCE2,#AFA3A5, #C7342A,green); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* border-radius: 100px; */
    
    
}
.loginbut{
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-around;
    width: 50vw;


}
.imakid button{
    font-family: kaushan script, sans-serif, roboto;
    font-size: 30px;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    /* background-attachment: scroll; */
    box-sizing: border-box;
    color: white;
    box-shadow: 5px 5px 18px black;
    /* height: 7vh;
    width: 10vw;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 10px;
    */
    position: relative; 
    z-index: 5;
}
.login{
    font-family: kaushan script, sans-serif, roboto;
    font-size: 30px;
    border-radius: 30px;
    height: 50px;
    width: 320px;
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: white;
    box-shadow: 5px 5px 18px black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 7vh;
    width: 10vw;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 10px;
    */
    position: relative; 
    z-index: 5;
}
.city{
    border: 1px black solid;
    height: 40vh;
    width: 60vw;
    border-radius: 50%;
    background-image: url('../images/snow\ city.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    box-sizing: border-box;

}
.santa1{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    color:green;
    font-family: kaushan script, sans-serif, roboto;
    font-size: 4vw;
    height: 20%;
    /* width: 50%; */
    /* align-items: center; */
    /* flex-direction: row; */
}
.santa2{
    flex-direction: row;
    border: 1px purple solid;
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.santa3{
    border: 1px red solid;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
h1{
    color:  #812122;
    cursor: none;
}

 /* .behindmodal{
    background-color: black;
    opacity: .1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
.modal{
    border: 1px blue solid;
    height: 30vh;
    width: 20vw;
    background-color: white;
    z-index: 100001;
    position: fixed;
} */
 .show {
    display: block;
  }
 .hide {
    display: none;
  }
 .kidLogin{
     /* border: 1px black solid; */
     height: 90%;
     width: 50vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 7;
     
 }
.outerkidlogin{
    /* border: 1px purple solid; */
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.kidLogin button,input{
    margin: 5px;
}
.kidLogin input{
    border: 5px green dashed;
    height: 41px;
    width: 45%;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;

}
.kidLogin button{
    background-image: url('../images/spiralwrap.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    color: white;
    box-shadow: 5px 5px 18px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kaushan script, sans-serif, roboto;
    font-size: 30px;
    border-radius: 30px;
    height: 50px;
    width: 320px;
}
.KidLoginarea{
    display: flex;
    /* border: 1px black solid; */
    /* height: 25%;
    width: 25%; */

}
